.projects-section {
    background-color: #e9d3bb ; /* 背景顏色 */
}

.body{
    background-color: #e9d3bb
}

.bold-underline{
    font-weight: bold;
    text-decoration: underline;
}

.table-border, .table-border th, .table-border td {
    border: 5px solid black; /* 使用 1px 寬度的黑色格線 */
}

.davidbtn:hover .fa-circle{
    color: #ff4500; /* 改变悬停时圆圈的颜色 */
}

